NEXT_PUBLIC_RAZORPAY_KEY_ID="rzp_test_id"
RAZORPAY_KEY_SECRET="your_secret"
MONGODB_URI="mongodb+srv://<your-cluster-link-here>"
JWT_SECRET="any_custom_secure_string"
ADMIN_EMAIL="your_admin_email"  
ADMIN_PASSWORD="admin_password" 